  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

  
html{
    font-family: 'Josefin Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0
}
h1, p{
    margin-top: 0;
    margin-bottom: 0;
}
buttom {
    border:none;
    font-family:inherit;
}